:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  color: var(--talos-text-color, var(--text-color, #0f172a));
  line-height: 1.5;

  &.talos-card-body-padding-none {
    padding: 0;
  }

  &.talos-card-body-padding-sm {
    padding: 0.75rem 0;
  }

  &.talos-card-body-padding-md {
    padding: 1rem 0;
  }

  &.talos-card-body-padding-lg {
    padding: 1.5rem 0;
  }
}
