@use './styles/variables';
@use '../projects/forge/styles/index';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--forge-bg-color, var(--bg-color, #f8fafc));
  color: var(--forge-text-color, var(--text-color, #0f172a));
}