:host {
  display: block;
  width: 100%;
}

.talos-alert-container-stack {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;

  &.is-banner {
    gap: 0.5rem;

    talos-alert {
      border-radius: 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
